.env
.env.*
config/certs/*
config/master.key

*.gem
.bundle/
vendor/bundle/
vendor/cache/
vendor/ruby/

log/*
tmp/*
tmp/cache/*
tmp/pids/*
tmp/sockets/*
storage/*
public/system/*
public/uploads/*
db/*.sqlite3
db/*.sqlite3-journal

node_modules/
yarn-error.log
npm-debug.log*
pnpm-debug.log*

coverage/
spec/tmp/
.rspec_status

.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp

.DS_Store
Thumbs.db

.byebug_history
.ruby-version
.ruby-gemset
